<!doctype html5>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ubermelon - Buy a Melon</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    <!-- Babel -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"
      crossorigin></script>
    <!-- React -->
    <script
      src="https://unpkg.com/react@16/umd/react.development.js"
      crossorigin></script>
    <script
      src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"
      crossorigin></script>
    <!-- React Router -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/react-router-dom/5.0.1/react-router-dom.js"
      crossorigin></script>

  </head>
  <body>
    
    <div id="root">
      <p>
        If you see this, you probably forgot to import a
        <code>&lt;script&gt;</code> tag somewhere.
      </p>
    </div>
  <script src="/static/js/uiComponents.jsx" type="text/jsx"></script>
  <script src="/static/js/shoppingSite.jsx" type="text/jsx"></script>
  </body>
</html>
