<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    Hi {{ person }}! I think you're
    {% for compliment in compliments %}
        {% if compliment == compliments[-1] %}
            and {{ compliment }}!
        {% else %}
            {{ compliment }},
        {% endif %}
    {% endfor %} 
    <form action="/game">
        Do you want to play a game?
        <input type="radio" name="playing" value="Yes">Yes
        <input type="radio" name="playing" value="No">No
        <input type="submit">
    </form>
</body>
</html>